<div class="clearfix mxn2">
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      I'm a Cloud Engineer from the Netherlands experienced with the big four cloud providers: 
      <a href="https://aws.amazon.com">AWS</a>, <a href="https://azure.microsoft.com">Azure</a>, 
      <a href="https://cloud.google.com">Google</a> and <a href="https://cloud.ibm.com">IBM Cloud</a>.
      On these cloud providers I've build cloud native apps in Python and JavaScript, 
      both <a href="https://aws.amazon.com/lambda/">serverless</a> and on <a href="https://kubernetes.io/">Kubernetes</a>, 
      with continuous deployment and reliable logging and monitoring. 

      I help companies move their infrastucture to the Cloud, 
      drastically reducing costs and increasing the capability and flexibility of their IT-infrastructure.<br><br>
      
      I also teach programming courses in DevOps, Cloud development and Python.
    </p>  
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>  
</div>
